# Temp files
*.swo
*.swp
.DS_Store

# Rope
.ropeproject

# Database files
*.dblite

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
sphere_cube_vsr
sphere_cube_df
sphere_cube_glsl

# libvsr 2 project files
vsr2.0
